*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Be Vietnam;
}

body{
	overflow-y: scroll;
}

#header{
	width: 100%;
	height: 15%;
	background-color: white;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99999;
}
	/*Decoración de lineas naranjas izquierdas*/
	.leftN{ 
		width: 44%;
		height: 22%;		
		border-color: rgb(254, 117, 14);
		border-style: dashed none dashed none;
		border-width: 2px;
		margin-top: 25px;
		margin-left: 10px;
		float: left;
	}
	/*Decoración de linea verde izquierda*/
	.leftV{
		width: 97%;
		height: 5%;
		background: rgb(211, 240, 154);
		border: none;
		margin: 5px;
		padding: 5px;
	}

	.imgStyle{
		width: 10%;
		height: 20%;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 10px;
		float: left;
	}

	.imgStyle>a>img{
		height: 75px;
	}
	/*Decoración de lineas naranjas derechas*/
	.rightN{
		width: 28%;
		height: 22%;
		border-color: rgb(254, 117, 14);
		border-style: dashed none dashed none;
		border-width: 2px;
		margin-top: 25px;
		margin-left: 10px;
		float: left;
	}
	/*Decoración de linea verde derecha*/
	.rightV{
		width: 95%;
		height: 5%;
		background: rgb(211, 240, 154);
		border: none;
		margin: 5px;
		padding: 5px;
	}
/*Apartado de botones de acciones*/
.actions{
	width: 14%;
	height: 30%;
	margin-top: 15px;
	float: right;
}
	/*Acción: Usuario*/
	.actions>a>img{
		width: 35px;
		margin-top: 6px;
		text-align: center;
		float: left;
	}
	.actions>a>p{
		margin-top: 12px;
		margin-left: 3px;
		font-size: 12px;
		text-align: center;
		color: rgb(137, 192, 28);
		float: left;
	}
	/*Acción: Cerrar sesión*/
	.logOut{
		width: 80px;
		height: 20px;
		margin-top: 10px;
		margin-left: 8px;
		font-size: 12px;
		text-align: center;
		color: rgb(254, 117, 14);
		border-color: rgb(254, 117, 14);
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		float: left;
	}
	
/*Posición del menú vertical izquierdo*/
#menu{
	height: 55%;
	width: 150px;
	top: 120px;
	left: 20px;
	text-align: center;
	position: fixed;
}
	/*Estilo de pestañas del menu de color naranja*/
	.pageN{
		width: 120px;
		border: 2px dashed;
		color: rgb(131, 183, 27);
		border-color: rgb(254, 117, 14);
		margin-left: 25px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 5px;
		font-weight: bold;
		font-size: 16px;
	}
	/*Estilo de pestañas del menu de color verde*/
	.pageV{
		width: 120px;
		border: 2px dashed;
		color: rgb(254, 117, 14);
		border-color: rgb(131, 183, 27);
		margin-left: 25px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 5px;
		font-weight: bold;
		font-size: 16px;
	}

	a:link, a:visited{
		text-decoration: none;
		display: block;
	}

	a:hover{
		background-color: rgb(255, 249, 238);
		color: black;
	}

#main{
    height: 100vh;
    width: 70%;
	margin-left: 15%;
	margin-top: 50px;
}

.titleVeganContainer{
width: 60%;
height: 250px;
margin:  0 auto;
}

.titleVeganContainer img{
    width: 100%;
    height: 100%;
}

.descripcionVegano{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.queEsVegano{
    color: #89C01C;
    text-align: center;
    font-size: 1.8rem;
}

.descripcionVegano--descripcion{
    width: 70%;
    text-align: justify;
    margin: 25px auto;
}

.comoHacermeVeganoButton{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
}

.comoHacermeVeganoButton--Button{
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: .9rem;
    color: black;
    background-color: #FEF0D5;
    border: 1px solid #FCB22C;
    padding: 5px;
}

.platoSaludableVegano{
    width: 80%;
    margin: 0 auto;
}

.platoSaludableVegano img{
    width: 100%;
}

.paraVeganosComidas{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paraVeganosComidas--Title{
    margin: 50px auto;
}

.paraVeganosComidas--Title img{
    height: 120px;
    margin-top: 25px;
}

.ofertasVeganas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.oferta{
    width: 20%;
}

.oferta--Image{
    width: 65%;
    height: 125px;
    display: flex;
    margin: 0 auto;
}

.oferta--Image img{
    width: 100%;
}

.oferta--Text{
    width: 65%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: black;
}

.comoHacermeVegano{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.comoHacermeVegano--Title{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.comoHacermeVegano--Title h1{
    font-size: 2rem;
    color: orange;
}

.comoHacermeVegano--ContainerImpar{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.comoHacermeVegano--ContainerImpar--PrimeraMitad{
    width: 60%;
    display: flex;
}

.comoHacermeVegano--ContainerImpar--SegundaMitad{
    width: 40%;
}

.Impar--Parrafo--Container{
    width: 80%;
    margin: auto;
    padding: 10px;

}

.Impar--Parrafo--Container p{
    text-align: justify;
    margin: auto;
}

.Impar--Imagen--Container{
    width: 100%;
}

.Impar--Imagen--Container img{
    width: 100%;
}

.comoHacermeVegano--ContainerPar{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comoHacermeVegano--ContainerPar--PrimeraMitad{
    width: 40%;
    margin: auto;
    display: flex;
}

.comoHacermeVegano--ContainerPar--SegundaMitad{
    width: 60%;
    display: flex;
}

.Par--Imagen--Container{
    width: 100%;
    margin: auto;
}

.Par--Imagen--Container img{
    width: 100%;
}

.Par--Parrafo--Container{
    width: 80%;
    margin: auto;
    padding: 10px;
}

.Par--Parrafo--Container p{
    text-align: justify;
    margin: auto;
}

#banner{
     width: 170px;
     height: 200px;
     top: 130px;
     border-style: none none none dashed;
     border-color: rgb(131, 183, 27);
     border-width: 2px;
	 right: 15px;
	 position: fixed;
	 box-sizing: border-box;
}
    /*Información de contacto*/
    .contacto{
        width: 100%;
        height: 50px;
        padding: 10px;
        margin-left: 5px;
    }
        .contacto>h6{
            color: rgb(254, 117, 14);
        }
        .contacto>p>b{
            font-size: 12px;
        }
    .redes{
		width: 50%;
		height: 40px;
		margin-left: 5px;
		margin-top: 10px;
		display: flex;
		flex-direction: row;
	}
		.redes>a>img{
			width: 35px;
			height: 35px;
		}

#footer{
    width: 95%;
    height: 30px;
    border-style: dotted none none none;
    border-color: rgb(224, 245, 184);
    border-width: 5px;
    text-align: center;
    margin-top: 1700px;
    margin-left: 30px;
    padding: 5px;
    float: left;
}
    #footer>p{
        color: rgb(252, 178, 44);
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 3px;
    }