*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Be Vietnam;
}

#header{
	width: 100%;
	height: 30%;
	margin-top: 10px;
	float: left;
}
	/*Decoración de lineas naranjas izquierdas*/
	.leftN{ 
		width: 44%;
		height: 30%;		
		border-color: rgb(254, 117, 14);
		border-style: dashed none dashed none;
		border-width: 2px;
		margin-top: 18px;
		margin-left: 10px;
		float: left;
	}
	/*Decoración de linea verde izquierda*/
	.leftV{
		width: 97%;
		height: 20%;
		background: rgb(211, 240, 154);
		border: none;
		margin: 5px;
		padding: 5px;
	}

	.imgStyle{
		width: 10%;
		height: 20%;
		margin-left: 15px;
		margin-right: 10px;
		float: left;
	}

	.imgStyle>img{
		height: 75px;
	}
	/*Decoración de lineas naranjas derechas*/
	.rightN{
		width: 27%;
		height: 30%;
		border-color: rgb(254, 117, 14);
		border-style: dashed none dashed none;
		border-width: 2px;
		margin-top: 18px;
		margin-left: 10px;
		float: left;
	}
	/*Decoración de linea verde derecha*/
	.rightV{
		width: 95%;
		height: 20%;
		background: rgb(211, 240, 154);
		border: none;
		margin: 5px;
		padding: 5px;
	}
/*Apartado de botones de acciones*/
.actions{
	width: 15%;
	height: 30%;
	margin-top: 18px;
	float: right;
}
	/*Acción: Iniciar sesión*/
	.logIn{
		font-size: 12px;
		width: 95px;
		height: 25px;
		margin-top: 6px;
		margin-left: 5px;
		color: white;
		text-align: center;
		background-color: rgb(254, 117, 14);
		border-color: rgb(254, 117, 14);
		border-radius: 5px;
		border-style: solid;
		border-width: 2px;
		float: left;
	}
	/*Acción: Registrarse*/
	.singUp{
		font-size: 12px;
		width: 85px;
		height: 25px;
		margin-top: 6px;
		margin-left: 10px;
		text-align: center;
		color: white;
		background-color: rgb(137, 192, 28);
		border-color: rgb(137, 192, 28);
		border-radius: 5px;
		border-style: solid;
		border-width: 2px;
		float: left;
	}
/*Posición del menú vertical izquierdo*/
.menu{
	height: 55%;
	width: 150px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	text-align: center;
}
	/*Estilo de pestañas del menu de color naranja*/
	.pageN{
		width: 120px;
		border: 2px dashed;
		color: rgb(131, 183, 27);
		border-color: rgb(254, 117, 14);
		margin-left: 25px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 5px;
		font-weight: bold;
		font-size: 16px;
	}
	/*Estilo de pestañas del menu de color verde*/
	.pageV{
		width: 120px;
		border: 2px dashed;
		color: rgb(254, 117, 14);
		border-color: rgb(131, 183, 27);
		margin-left: 25px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 5px;
		font-weight: bold;
		font-size: 16px;
	}

	a:link, a:visited{
		text-decoration: none;
		display: block;
	}

	a:hover{
		background-color: rgb(255, 249, 238);
		color: black;
	}

#main{
    width: 70%;
    height: 100vh;
	margin-left: 15px;
	margin-top: 15px;
    float: left;
    display: flex;
    flex-direction: column;
}

.titleVegetarianContainer{
    width: 60%;
    height: 250px;
    margin:  0 auto;
    }
    
    .titleVegetarianContainer img{
        width: 100%;
        height: 100%;
    }
    
    .descripcionVegetariano{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .queEsVegetariano{
        color: orange;
        text-align: center;
        font-size: 1.8rem;
    }
    
    .descripcionVegetariano--descripcion{
        width: 70%;
        text-align: justify;
        margin: 25px auto;
    }
    
    .comoHacermeVegetarianoButton{
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: column;
    }
    
    .comoHacermeVegetarianoButton--Button{
        margin: 0 auto;
        margin-bottom: 50px;
        font-size: .9rem;
        color: black;
        background-color:#E0F5B8;
        border: 1px solid #89C01C;
        padding: 5px;
    }

    .tiposVegetarianos{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .tiposVegetarianos--Titulo{
        margin: 40px auto;
    }

    .tiposVegetarianos--Titulo h1{
        font-size: 1.2rem;
        color: #83B71B;
    }

    .Fila{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tipoVegetariano{
        width: 30%;
        display: flex;
        flex-direction: column;
        margin:  10px auto;

    }

    .tipoVegetariano--Imagen{
        margin: auto;
        width: 80%;
    }

    .tipoVegetariano--Imagen img{
        width: 100%;
    }

    .tipoVegetariano--Texto{
        width: 70%;
        margin: 10px auto;
        text-align: justify;
    }

    .paraVegetarianosComidas{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .paraVegetarianosComidas--Title{
        margin: 50px auto;
    }
    
    .paraVegetarianosComidas--Title h1{
        font-size: 2rem;
    }
    
    .ofertasVegetarianas{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    
    .oferta{
        width: 20%;
    }
    
    .oferta--Image{
        width: 65%;
        height: 125px;
        display: flex;
        margin: 0 auto;
    }
    
    .oferta--Image img{
        width: 100%;
    }
    
    .oferta--Text{
        width: 65%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }

    .comoHacermeVegetariano{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: space-around;
    }
    
    .comoHacermeVegetariano--Title{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        padding: 20px;
        border-radius: 25px;
        background-color: #FCB22C;
    }
    
    .comoHacermeVegetariano--Title h1{
        font-size: 2rem;
        color: white;
    }

    .comoHacermeVegetariano--Fila{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 20px auto;
    }

    .comoHacermeVegetariano--Fila--Numero{
        margin: auto 10;
        width: 10%;
        display: flex;
        flex-direction: column;
    }

    .comoHacermeVegetariano--Fila--Numero img{
        width: 100%;
        margin: auto;
    }

    .comoHacermeVegetariano--Fila--Textos{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .comoHacermeVegetariano--Fila--Textos p{
        text-align: justify;
    }

    .orange h1{
        color: orange;
    }

    .green h1{
        color: #98C21D;
    }